@font-face {
    font-family: "PatrickHand";
    src: url("PatrickHand-Regular.ttf");
}

body {
    font-family: PatrickHand;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url("background.png");
    background-repeat: repeat;
    background-position: 100%;
}

.nav-bar {
    list-style-type: none;
    background-color: #add8e6 !important;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

ul>li {
    font-size: 20px;
}

ul>li:hover {
    background-color: rgb(139, 175, 187);
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.button-flexbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: auto;

}

.button-flexbox>button {
    font-size: 120px;
}

.play-round-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    font-size: 40px;
}

.result-bar {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.score-box-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.score-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border: 2px black solid;
    background-color: #77949e;
    width: 300px;
    opacity: 0.9;
}

#new-game {
    display: none;
}

.new-game-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: PatrickHand;
}

.new-game-button > div {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    font-size: 25px;
    background-color: #77949e;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    opacity: 0.9;
}
.new-game-button :hover {
background-color: #5a7179;
cursor: pointer;
}

footer {
    width: 100%;
    background-color: #add8e6;
    position: fixed;
    bottom: 0;
}